aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
beautifulsoup4==4.13.4
cachetools==6.1.0
certifi==2025.8.3
cffi==1.17.1 ; platform_python_implementation == 'PyPy'
chardet==5.2.0
charset-normalizer==3.4.3
colorama==0.4.6 ; sys_platform == 'win32'
colorlog==6.9.0
comtypes==1.4.11 ; sys_platform == 'win32'
cssselect==1.3.0
cssutils==2.11.1
dataclasses-json==0.6.7
decorator==5.2.1
distro==1.9.0
einops==0.8.1
et-xmlfile==2.0.0
filelock==3.19.1
frozenlist==1.7.0
fsspec==2025.7.0
ftfy==6.3.1
gputil==1.4.0
greenlet==3.2.4 ; (python_full_version < '3.14' and platform_machine == 'AMD64') or (python_full_version < '3.14' and platform_machine == 'WIN32') or (python_full_version < '3.14' and platform_machine == 'aarch64') or (python_full_version < '3.14' and platform_machine == 'amd64') or (python_full_version < '3.14' and platform_machine == 'ppc64le') or (python_full_version < '3.14' and platform_machine == 'win32') or (python_full_version < '3.14' and platform_machine == 'x86_64')
h11==0.16.0
hf-xet==1.1.7 ; platform_machine == 'aarch64' or platform_machine == 'amd64' or platform_machine == 'arm64' or platform_machine == 'x86_64'
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
idna==3.10
imagesize==1.4.1
jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.30
langchain-text-splitters==0.3.9
langsmith==0.4.14
lxml==6.0.0
markupsafe==3.0.2
marshmallow==3.26.1
more-itertools==10.7.0
multidict==6.6.4
mypy-extensions==1.1.0
networkx==3.5
numpy==2.2.6
openai==1.99.9
opencv-contrib-python==4.10.0.84
opencv-python==4.12.0.88
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.11.2 ; platform_python_implementation != 'PyPy'
packaging==25.0
paddleocr==3.1.1
paddlepaddle==3.1.0
paddlex==3.1.4
pandas==2.3.1
pillow==11.3.0
premailer==3.10.0
prettytable==3.16.0
propcache==0.3.2
protobuf==6.32.0
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pycparser==2.22 ; platform_python_implementation == 'PyPy'
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.1
pyobjc==11.1 ; sys_platform == 'darwin'
pyobjc-core==11.1 ; sys_platform == 'darwin'
pyobjc-framework-accessibility==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-accounts==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-addressbook==11.1 ; sys_platform == 'darwin'
pyobjc-framework-adservices==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-adsupport==11.1 ; platform_release >= '18.0' and sys_platform == 'darwin'
pyobjc-framework-applescriptkit==11.1 ; sys_platform == 'darwin'
pyobjc-framework-applescriptobjc==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-applicationservices==11.1 ; sys_platform == 'darwin'
pyobjc-framework-apptrackingtransparency==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-audiovideobridging==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-authenticationservices==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-automaticassessmentconfiguration==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-automator==11.1 ; sys_platform == 'darwin'
pyobjc-framework-avfoundation==11.1 ; platform_release >= '11.0' and sys_platform == 'darwin'
pyobjc-framework-avkit==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-avrouting==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-backgroundassets==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-browserenginekit==11.1 ; platform_release >= '23.4' and sys_platform == 'darwin'
pyobjc-framework-businesschat==11.1 ; platform_release >= '18.0' and sys_platform == 'darwin'
pyobjc-framework-calendarstore==11.1 ; platform_release >= '9.0' and sys_platform == 'darwin'
pyobjc-framework-callkit==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-carbon==11.1 ; sys_platform == 'darwin'
pyobjc-framework-cfnetwork==11.1 ; sys_platform == 'darwin'
pyobjc-framework-cinematic==11.1 ; platform_release >= '23.0' and sys_platform == 'darwin'
pyobjc-framework-classkit==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-cloudkit==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-cocoa==11.1 ; sys_platform == 'darwin'
pyobjc-framework-collaboration==11.1 ; platform_release >= '9.0' and sys_platform == 'darwin'
pyobjc-framework-colorsync==11.1 ; platform_release >= '17.0' and sys_platform == 'darwin'
pyobjc-framework-contacts==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-contactsui==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-coreaudio==11.1 ; sys_platform == 'darwin'
pyobjc-framework-coreaudiokit==11.1 ; sys_platform == 'darwin'
pyobjc-framework-corebluetooth==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-coredata==11.1 ; sys_platform == 'darwin'
pyobjc-framework-corehaptics==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-corelocation==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-coremedia==11.1 ; platform_release >= '11.0' and sys_platform == 'darwin'
pyobjc-framework-coremediaio==11.1 ; platform_release >= '11.0' and sys_platform == 'darwin'
pyobjc-framework-coremidi==11.1 ; sys_platform == 'darwin'
pyobjc-framework-coreml==11.1 ; platform_release >= '17.0' and sys_platform == 'darwin'
pyobjc-framework-coremotion==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-coreservices==11.1 ; sys_platform == 'darwin'
pyobjc-framework-corespotlight==11.1 ; platform_release >= '17.0' and sys_platform == 'darwin'
pyobjc-framework-coretext==11.1 ; sys_platform == 'darwin'
pyobjc-framework-corewlan==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-cryptotokenkit==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-datadetection==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-devicecheck==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-devicediscoveryextension==11.1 ; platform_release >= '24.0' and sys_platform == 'darwin'
pyobjc-framework-dictionaryservices==11.1 ; platform_release >= '9.0' and sys_platform == 'darwin'
pyobjc-framework-discrecording==11.1 ; sys_platform == 'darwin'
pyobjc-framework-discrecordingui==11.1 ; sys_platform == 'darwin'
pyobjc-framework-diskarbitration==11.1 ; sys_platform == 'darwin'
pyobjc-framework-dvdplayback==11.1 ; sys_platform == 'darwin'
pyobjc-framework-eventkit==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-exceptionhandling==11.1 ; sys_platform == 'darwin'
pyobjc-framework-executionpolicy==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-extensionkit==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-externalaccessory==11.1 ; platform_release >= '17.0' and sys_platform == 'darwin'
pyobjc-framework-fileprovider==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-fileproviderui==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-findersync==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-fsevents==11.1 ; sys_platform == 'darwin'
pyobjc-framework-fskit==11.1 ; platform_release >= '24.4' and sys_platform == 'darwin'
pyobjc-framework-gamecenter==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-gamecontroller==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-gamekit==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-gameplaykit==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-healthkit==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-imagecapturecore==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-inputmethodkit==11.1 ; platform_release >= '9.0' and sys_platform == 'darwin'
pyobjc-framework-installerplugins==11.1 ; sys_platform == 'darwin'
pyobjc-framework-instantmessage==11.1 ; platform_release >= '9.0' and sys_platform == 'darwin'
pyobjc-framework-intents==11.1 ; platform_release >= '16.0' and sys_platform == 'darwin'
pyobjc-framework-intentsui==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-iobluetooth==11.1 ; sys_platform == 'darwin'
pyobjc-framework-iobluetoothui==11.1 ; sys_platform == 'darwin'
pyobjc-framework-iosurface==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-ituneslibrary==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-kernelmanagement==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-latentsemanticmapping==11.1 ; sys_platform == 'darwin'
pyobjc-framework-launchservices==11.1 ; sys_platform == 'darwin'
pyobjc-framework-libdispatch==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-libxpc==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-linkpresentation==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-localauthentication==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-localauthenticationembeddedui==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-mailkit==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-mapkit==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-mediaaccessibility==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-mediaextension==11.1 ; platform_release >= '24.0' and sys_platform == 'darwin'
pyobjc-framework-medialibrary==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-mediaplayer==11.1 ; platform_release >= '16.0' and sys_platform == 'darwin'
pyobjc-framework-mediatoolbox==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-metal==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-metalfx==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-metalkit==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-metalperformanceshaders==11.1 ; platform_release >= '17.0' and sys_platform == 'darwin'
pyobjc-framework-metalperformanceshadersgraph==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-metrickit==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-mlcompute==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-modelio==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-multipeerconnectivity==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-naturallanguage==11.1 ; platform_release >= '18.0' and sys_platform == 'darwin'
pyobjc-framework-netfs==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-network==11.1 ; platform_release >= '18.0' and sys_platform == 'darwin'
pyobjc-framework-networkextension==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-notificationcenter==11.1 ; platform_release >= '14.0' and sys_platform == 'darwin'
pyobjc-framework-opendirectory==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-osakit==11.1 ; sys_platform == 'darwin'
pyobjc-framework-oslog==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-passkit==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-pencilkit==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-phase==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-photos==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-photosui==11.1 ; platform_release >= '15.0' and sys_platform == 'darwin'
pyobjc-framework-preferencepanes==11.1 ; sys_platform == 'darwin'
pyobjc-framework-pushkit==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-quartz==11.1 ; sys_platform == 'darwin'
pyobjc-framework-quicklookthumbnailing==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-replaykit==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-safariservices==11.1 ; platform_release >= '16.0' and sys_platform == 'darwin'
pyobjc-framework-safetykit==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-scenekit==11.1 ; platform_release >= '11.0' and sys_platform == 'darwin'
pyobjc-framework-screencapturekit==11.1 ; platform_release >= '21.4' and sys_platform == 'darwin'
pyobjc-framework-screensaver==11.1 ; sys_platform == 'darwin'
pyobjc-framework-screentime==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-scriptingbridge==11.1 ; platform_release >= '9.0' and sys_platform == 'darwin'
pyobjc-framework-searchkit==11.1 ; sys_platform == 'darwin'
pyobjc-framework-security==11.1 ; sys_platform == 'darwin'
pyobjc-framework-securityfoundation==11.1 ; sys_platform == 'darwin'
pyobjc-framework-securityinterface==11.1 ; sys_platform == 'darwin'
pyobjc-framework-securityui==11.1 ; platform_release >= '24.4' and sys_platform == 'darwin'
pyobjc-framework-sensitivecontentanalysis==11.1 ; platform_release >= '23.0' and sys_platform == 'darwin'
pyobjc-framework-servicemanagement==11.1 ; platform_release >= '10.0' and sys_platform == 'darwin'
pyobjc-framework-sharedwithyou==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-sharedwithyoucore==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-shazamkit==11.1 ; platform_release >= '21.0' and sys_platform == 'darwin'
pyobjc-framework-social==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-soundanalysis==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-speech==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-spritekit==11.1 ; platform_release >= '13.0' and sys_platform == 'darwin'
pyobjc-framework-storekit==11.1 ; platform_release >= '11.0' and sys_platform == 'darwin'
pyobjc-framework-symbols==11.1 ; platform_release >= '23.0' and sys_platform == 'darwin'
pyobjc-framework-syncservices==11.1 ; sys_platform == 'darwin'
pyobjc-framework-systemconfiguration==11.1 ; sys_platform == 'darwin'
pyobjc-framework-systemextensions==11.1 ; platform_release >= '19.0' and sys_platform == 'darwin'
pyobjc-framework-threadnetwork==11.1 ; platform_release >= '22.0' and sys_platform == 'darwin'
pyobjc-framework-uniformtypeidentifiers==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-usernotifications==11.1 ; platform_release >= '18.0' and sys_platform == 'darwin'
pyobjc-framework-usernotificationsui==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-videosubscriberaccount==11.1 ; platform_release >= '18.0' and sys_platform == 'darwin'
pyobjc-framework-videotoolbox==11.1 ; platform_release >= '12.0' and sys_platform == 'darwin'
pyobjc-framework-virtualization==11.1 ; platform_release >= '20.0' and sys_platform == 'darwin'
pyobjc-framework-vision==11.1 ; platform_release >= '17.0' and sys_platform == 'darwin'
pyobjc-framework-webkit==11.1 ; sys_platform == 'darwin'
pypdfium2==4.30.0
pypiwin32==223 ; sys_platform == 'win32'
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pyttsx3==2.99
pytz==2025.2
pywin32==311 ; sys_platform == 'win32'
pyyaml==6.0.2
regex==2025.7.34
requests==2.32.4
requests-toolbelt==1.0.0
ruamel-yaml==0.18.14
ruamel-yaml-clib==0.2.12 ; python_full_version < '3.14' and platform_python_implementation == 'CPython'
scikit-learn==1.7.1
scipy==1.16.1
shapely==2.1.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
sqlalchemy==2.0.43
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.21.4
tqdm==4.67.1
typing-extensions==4.14.1
typing-inspect==0.9.0
typing-inspection==0.4.1
tzdata==2025.2
ujson==5.10.0
urllib3==2.5.0
wcwidth==0.2.13
yarl==1.20.1
zstandard==0.23.0
